@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grey-magenta: hsl(303, 10%, 53%);
  --light-grey-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  color: var(--dark-grey-magenta);
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
}

main,
.attribution {
  margin: 0 auto;
  max-width: 85%;
  padding-top: 4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-magenta);
  line-height: 3rem;
}

.testimonial-img {
  border-radius: 50%;
}
